Repository rollit-project/rollit, pull requests merged in 2025-06, with the labels that each got.

#24 Feat: 그림자 테스트용 조명 및 배경 세팅
  src/components/scene/DirectionalLight.jsx
  src/components/scene/EditorCanvas.jsx
  src/components/scene/Ground.jsx
  src/components/scene/MoveControls.jsx
  src/components/ui/EditorActionControls.jsx
  src/components/ui/EditorCategorySelector.jsx
  src/components/ui/EditorPanel.jsx
  src/components/ui/PanelItems.jsx
  src/components/ui/Slider.jsx
  src/pages/EditorScene.jsx
Labels: Feat, EditorScene

#17 Design: 실시간 측정 패널 UI 구현
  src/components/MeasurementPanel.jsx
Labels: Design, Simulation

#30 Refactor: 실시간 측정 패널 UI 구현
  src/components/MeasurementPanel.jsx
  src/components/ui/MeasurementPanel.jsx
Labels: Refactor

#36 Feat: 프리뷰 오브젝트 실제 scene 배치 로직 구현
  package-lock.json
  package.json
  src/components/scene/EditorCanvas.jsx
  src/components/scene/ItemModel.jsx
  src/components/scene/MouseFollower.jsx
  src/pages/EditorScene.jsx
Labels: Feat, EditorScene

#41 Feat: Q,E 키 입력에 따른 아이템 회전 기능 구현
  src/components/scene/EditorCanvas.jsx
  src/components/scene/ItemModel.jsx
  src/components/scene/MouseFollower.jsx
Labels: Feat, EditorScene

#44 Design: 시뮬레이션 속도 조절 모달 UI 구현
  src/components/ui/EditorActionControls.jsx
  src/components/ui/ResultModal.jsx
  src/components/ui/modal/ModalLayout.jsx
  src/components/ui/modal/ResultModal.jsx
  src/components/ui/modal/SpeedSettingModal.jsx
  src/index.css
Labels: Design, EditorScene

#47 Feat: 롤러코스터 레일 배치
  public/objects/rail-curve-left.glb
  public/objects/rail-curve-right.glb
  public/objects/rail-down.glb
  public/objects/rail-straight.glb
  public/objects/rail-up.glb
  src/components/scene/EditorCanvas.jsx
  src/components/scene/ItemModel.jsx
  src/components/scene/RailModel.jsx
  src/components/scene/RailRenderer.jsx
  src/components/ui/EditorCategorySelector.jsx
  src/components/ui/EditorPanel.jsx
  src/constants/initialRails.js
  src/constants/railPointTemplates.js
  src/constants/railRotationMap.js
  src/constants/sceneAssetList.js
  src/hooks/usePlaceRails.js
  src/pages/EditorScene.jsx
  src/utils/getWorldRailPoints.js
Labels: Feat, EditorScene

#53 Feat: 시뮬레이션 페이지 진입 시 상태 기반 렌더링 로직 구성
  public/objects/cart.glb
  public/objects/coasterEntrance.glb
  src/components/scene/CartModel.jsx
  src/components/scene/EditorCanvas.jsx
  src/components/scene/ItemRenderer.jsx
  src/components/scene/SimulationCanvas.jsx
  src/components/ui/EditorActionControls.jsx
  src/index.css
  src/pages/Simulation.jsx
Labels: Feat, Simulation

#54 Feat: 레일 연결 여부 판단 및 조건 분기 처리
  package-lock.json
  package.json
  src/App.jsx
  src/assets/icons/index.js
  src/assets/icons/roller-coaster-play-icon.svg
  src/assets/icons/roller-coaster-reset-icon.svg
  src/assets/icons/roller-coaster-undo-icon.svg
  src/components/ui/ActionButton.jsx
  src/components/ui/EditorActionControls.jsx
  src/utils/isRailConnected.js
Labels: Feat, EditorScene

#56 Chore: 프로젝트 폴더 구조 리팩토링
  public/images/roller-coaster.png
  src/assets/icons/index.js
  src/assets/icons/roller-coaster-icon.svg
  src/components/canvas/EditorCanvas.jsx
  src/components/canvas/SimulationCanvas.jsx
  src/components/scene/common/DirectionalLight.jsx
  src/components/scene/common/Ground.jsx
  src/components/scene/common/ItemModel.jsx
  src/components/scene/common/ItemRenderer.jsx
  src/components/scene/common/RailModel.jsx
  src/components/scene/common/RailRenderer.jsx
  src/components/scene/editor/MouseFollower.jsx
  src/components/scene/editor/MoveControls.jsx
  src/components/scene/simulation/CartModel.jsx
  src/components/ui/editor/ActionButton.jsx
  src/components/ui/editor/EditorActionControls.jsx
  src/components/ui/editor/EditorCategorySelector.jsx
  src/components/ui/editor/EditorPanel.jsx
  src/components/ui/editor/PanelItems.jsx
  src/components/ui/editor/Slider.jsx
  src/components/ui/simulation/MeasurementPanel.jsx
  src/pages/Editor.jsx
  src/pages/Intro.jsx
  src/pages/NotFound.jsx
  src/pages/Simulation.jsx
  src/routes/Router.jsx
  src/utils/generateRailCurve.js
Labels: Chore

#58 Feat: 롤러코스터 기본 주행 로직 설계
  public/objects/cart.glb
  src/components/canvas/EditorCanvas.jsx
  src/components/canvas/SimulationCanvas.jsx
  src/components/scene/common/DirectionalLight.jsx
  src/components/scene/simulation/CartFollower.jsx
  src/components/scene/simulation/CartModel.jsx
  src/components/ui/editor/EditorActionControls.jsx
  src/utils/generateSmoothCurvePoints.js
  src/utils/getRotationFromDirection.js
Labels: Feat, Simulation

#59 Feat: 레일 설치 전 레일 및 바닥과의 충돌 검사
  src/constants/collision.js
  src/hooks/usePlaceRails.js
  src/utils/isGroundCollision.js
  src/utils/isRailCollision.js
Labels: Feat

#67 Feat: Up/Down 직선 , 곡선 레일 모델 분리 및 방향 표기 추가
  public/images/rail-curve-left.png
  public/images/rail-curve-right.png
  public/images/rail-down-end.png
  public/images/rail-down-middle.png
  public/images/rail-down-slope-full.png
  public/images/rail-down-start.png
  public/images/rail-straight.png
  public/images/rail-up-end.png
  public/images/rail-up-middle.png
  public/images/rail-up-slope-full.png
  public/images/rail-up-start.png
  public/objects/rail-down-end.glb
  public/objects/rail-down-middle.glb
  public/objects/rail-down-slope-full.glb
  public/objects/rail-down-start.glb
  public/objects/rail-up-end.glb
  public/objects/rail-up-middle.glb
  public/objects/rail-up-slope-full.glb
  public/objects/rail-up-start.glb
  src/components/ui/editor/PanelItems.jsx
  src/constants/railPointTemplates.js
  src/constants/railRotationMap.js
  src/constants/railTooltipMap.js
  src/constants/sceneAssetList.js
Labels: Feat, Editor

#68 Feat: 사용성 향상을 위한 루프 연결 조건 완화 및 충돌 예외 처리 개선
  src/constants/collision.js
  src/hooks/usePlaceRails.js
  src/utils/isRailCollision.js
  src/utils/isRailConnected.js
Labels: Feat, Editor

#61 [ Feat ] 레일 상태 undo & reset 기능 추가
  src/components/ui/editor/EditorActionControls.jsx
  src/store/useSceneStore.js
Labels: Feat

#74 Feat: 레일 기울기 기반 속도 조절 및 전체 배속 조절 기능 구현
  src/components/scene/simulation/CartFollower.jsx
  src/components/ui/modal/SpeedSettingModal.jsx
  src/store/useSceneStore.js
Labels: Feat, Simulation

#77 Feat: 시뮬레이션 재시작 로직 구현
  src/components/scene/simulation/CartFollower.jsx
  src/components/ui/simulation/RestartButton.jsx
  src/components/ui/simulation/SwitchViewButton.jsx
  src/constants/cartSpeed.js
  src/pages/Simulation.jsx
  src/store/useSceneStore.js
Labels: Feat, Simulation

#86 Feat: 시뮬레이션 주행 속도 개선
  src/components/scene/simulation/CartFollower.jsx
  src/constants/cartSpeed.js
  src/hooks/useSyncCartAndCamera.js
  src/utils/getCartSpeed.js
Labels: Feat, Simulation
